<!DOCTYPE html>
<html>
<head>
  <title>Data of all countries</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  font-size: 24px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
th, td {
  padding: 15px;
  text-align: left;
}
tr:nth-child(even) {background-color: #EAEDED ;}
th {
  background-color: #4CAF50;
  color: white;
}
#p
        {
            text-align: center;
            color: crimson;
            font-size: 20px;
        }
</style>
</head>
<body>
  <p id="p">*All information is updated every 10 minutes*</p>
  <p style=" font-size: 28px; margin-left:20px;">
    View data of specific country:
    <div>
      <form action="{{url_for('scountries')}}" method="post">
        <input type="text" name="name" style=" margin-left:20px; border-color: blue;">
        <button  style=" margin-left:2px; border-color: blue; background:rgb(138, 181, 255);">GO!</button>
          </div>
  </p>
<table style="width:100%">
  <tr>
    <th>Countries</th>
    <th>Total cases</th> 
    <th>Total Deaths</th>
    <th>Total recovered</th>
    <th>Today cases</th>
    <th>Today Deaths</th>
  </tr>
  {%for data in datas%}
  <tr>
    <td>{{data['country']}} ({{data['countryInfo']['iso2']}})</td>
    <td>{{data['cases']}}</td>
    <td>{{data['deaths']}}</td>
    <td>{{data['recovered']}}</td>
    <td>{{data['todayCases']}}</td>
    <td>{{data['todayDeaths']}}</td>
  {%endfor%}
  </tr>
 
</table>

</body>
</html>