<!DOCTYPE html>
<html>
<head>
  <title>Data of all countries</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  font-size: 24px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
th, td {
  padding: 15px;
  text-align: left;
}
tr:nth-child(even) {background-color: #EAEDED ;}
th {
  background-color: #4CAF50;
  color: white;
}
#p
        {
            text-align: center;
            color: crimson;
            font-size: 20px;
        }
</style>
</head>
<body>
  <p id="p">*All information is updated every 10 minutes*</p>
   
          <form class="form-inline" action="{{url_for('scountries')}}" method="post">
            <div class="form-group">
              <label for="country" style=" font-size: 30px; margin-left:20px;">View data of specific country:</label>
              <input type="text" class="form-control"name="name" style=" margin-left:10px; font-size: 20px; font-weight: 400;">
              <button type="submit" class="btn btn-primary" style=" margin-left:6px; font-size: 20px;">GO!</button>
            </div>
          </form>
  </p>
<table style="width:100%">
  <tr>
    <th>Countries</th>
    <th>Total cases</th> 
    <th>Total Deaths</th>
    <th>Total recovered</th>
    <th>Today cases</th>
    <th>Today Deaths</th>
  </tr>
  {%for data in datas%}
  <tr>
    <td>{{data['country']}} ({{data['countryInfo']['iso2']}})</td>
    <td>{{data['cases']}}</td>
    <td>{{data['deaths']}}</td>
    <td>{{data['recovered']}}</td>
    <td>{{data['todayCases']}}</td>
    <td>{{data['todayDeaths']}}</td>
  {%endfor%}
  </tr>
 
</table>
</br></br></br>
</body>
</html>
