<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>COVID-19.Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>WORLDWIDE COVID-19 STATISTICS</h1>
    <hr> 
    <p id="p">*All information is updated every 10 minutes*</p>
    <div id=Tinfo>
      <h2>Coronavirus Cases:</h2>
      <h2 id=Tcases>{{cases}}</h2>
    </br>
      <h2>Deaths:</h2>
      <h2 id=Tdeaths>{{deaths}}</h2>
    </br>
      <h2>Recovered:</h2>
      <h2 id=Trecovered>{{recovered}}</h2>
    </div>
  </br>
  <div class="container">
  <div class=row>
    <!-- First Card -->
    <div class="col-sm col-xs-12">
      <div class="card" style="height: 22rem;">
    <div class="card-title">ACTIVE CASES</div>

    <div class="card-body">
      <h3 style="text-align: center;">{{activecases}}</h3>
      <p style="text-align: center;">Currently Infected Patients</p>
      <div style="text-align: center; font-size: 24px; color: rgb(80, 52, 250 );"><b>{{mild}}</b></div>
      <p style="text-align: center;">in Mild Condition</p>
      <div style="text-align: center; font-size: 24px; color:rgb(245, 11, 11 );"><b>{{critical}}</b></div>
      <p style="text-align: center;">Serious or Critical</p>
    </div>
    </div>
  </div>
    <!-- Second Card -->
    <div class="col-sm col-xs-12">
    <div class="card"style="height: 22rem; " >
      <div class="card-title">CLOSED CASES</div>
    <div class="card-body">
      <h3 style="text-align: center;">{{outcome}}</h3>
      <p style="text-align: center;">Cases which had an outcome:</p>
      <div style="text-align: center; font-size: 24px; color: rgb(126, 207, 48);"><b>{{recovered}}</b></div>
      <p style="text-align: center;">Recovered / Discharged</p>
      <div style="text-align: center; font-size: 24px; color:crimson"><b>{{deaths}}</b></div>
      <p style="text-align: center;">Deaths</p>
    </div>
    </div>
  </div>
    <!-- third Card -->
    <div class="col-sm col-xs-12">
      <div class="card"style="height: 22rem;" >
      <div class="card-title">TODAY STATS</div>
    <div class="card-body">
      <h3 style="text-align: center;">{{todaycases}}</h3>
      <p style="text-align: center;">Today cases</p>
      <div style="text-align: center; font-size: 24px; color: rgb(126, 207, 48);"><b>{{todayrecovered}}</b></div>
      <p style="text-align: center;">Today recovered</p>
      <div style="text-align: center; font-size: 24px; color:crimson"><b>{{todaydeaths}}</b></div>
      <p style="text-align: center;">Today Deaths</p>
    </div>
    </div>
  </div>
  </div>
</div>
</br>
<p style="text-align: center; font-size: 28px;">
<a href="{{url_for('Allcountries')}}">View data of all countries</a>
</p>
</br>
</br>
<p style="margin-left: 30px; font-size: 26px;" >Some Information About COVID-19:</p>
    <div class="accordion" id="accordionExample" >
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button style="font-size: 22px;" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                About COVID-19
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body" style="font-size: 22px;">
              <p>Coronaviruses (CoV) are a large family of viruses that cause illness ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS-CoV) and Severe Acute Respiratory Syndrome (SARS-CoV). A novel coronavirus (nCoV) is a new strain that has not been previously identified in humans.</p>
              <p>Coronaviruses are zoonotic, meaning they are transmitted between animals and people. Detailed investigations found that SARS-CoV was transmitted from civet cats to humans and MERS-CoV from dromedary camels to humans. Several known coronaviruses are circulating in animals that have not yet infected humans.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button style="font-size: 22px;" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Prevention for COVID-19
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body" style="font-size: 22px;">
                To prevent infection and to slow transmission of COVID-19, do the following:
                <ul>
                    <li>Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.</li>
                    <li>Maintain at least 1 metre distance between you and people coughing or sneezing.</li>
                    <li>Avoid touching your face.</li>
                    <li>Cover your mouth and nose when coughing or sneezing.</li>
                    <li>Stay home if you feel unwell.</li>
                    <li>Refrain from smoking and other activities that weaken the lungs.</li>
                    <li>Practice physical distancing by avoiding unnecessary travel and staying away from large groups of people.</li>
                  </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button style="font-size: 22px;" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Symptons for COVID-19
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body" style="font-size: 22px;">
             COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.
    </br></br>
    Most common symptoms:
    <ul>
    <li>Fever</li>
    <li>Dry cough</li>
    <li>Tiredness</li>
    </ul>
    
    </br>
    Less common symptoms:
    <ul>
    <li>aches and pains.</li>
    <li>sore throat.</li>
    <li>diarrhoea.</li>
    <li>conjunctivitis.</li>
    <li>headache.</li>
    <li>loss of taste or smell.</li>
    <li>a rash on skin, or discolouration of fingers or toes.</li>
    </ul>
    
    </br>
    Serious symptoms:
    <ul>
    <li>difficulty in breathing or shortness of breath.</li>
    <li>chest pain or pressure.</li>
    <li>loss of speech or movement.</li>
    </ul>
            </div>
          </div>
        </div>
      </div>
    </br></br></br>
    </body>
    </html>